.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 1);
    font-size: 26px;
    padding: 10px;
}

img {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

p {
    text-align: left;
}

.upper-bar {
    background-color: #424242; 
    color: rgb(199, 199, 199);
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.sec-upper-bar {
    background-color: #757575; 
    color: rgb(199, 199, 199);
    height: 20px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 20px;
}

.upper-bar-cont {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.posterCont {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 5px;
    gap: 10px;
}

.posterInfo {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    width: 220px;
    margin-bottom: 30px;
}

.userInfoCont {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    background-color: #757575;
}

.linkBoxCont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 217, 0);
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    border: 1px solid #ccc;
}