    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        font-family: Arial, sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .section {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .first-color {
        background-color: #d5def5;
    }

    .second-color {
        background-color: #8594e4;
    }

    .third-color {
        background-color: #6643b5;
    }

    .fourth-color {
        background-color: #430f58;
    }

    h1 {
        margin: 0;
        font-size: 2em;
        color: #430f58;
    }
